@page "/health"
@using Radzen
@using Radzen.Blazor
@inherits IntegraQnest.Client.Pages._Base.ProtectedPageBase

<RadzenCard Style="margin: 20px;">
    <h3>System Health</h3>

    <RadzenButton Text="Check Now" Click="CheckHealth" Style="margin-bottom:10px;" />

</RadzenCard>
